.personaje-img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.personaje-img:hover {
    transform: scale(1.05);
}

body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

#galeria {
    margin: 20px 0;
    min-height: 250px;
}